# build artifacts
/goroot
/dist/
# test/rootfs data
/rootfs/
*.tar.gz
*.tar.xz
*.tgz
# ...but the embedded default rootfs asset is part of the repo
!assets/*.tar.gz
# npm package installs the binary here
npm/goroot/vendor/
